@model PasteleriaMVC.Models.Usuario


@{
    Layout = null;
}



<!------------      ------------>
<div class="card-body">
    <div class="card-title">
        <h3 class="text-center title-2">Eliminar</h3>
    </div>
    <hr>

    <!------------      ------------>


    <div class="form-group">

        <h4 class="text-center "> ¿Deseas Eliminar el usuario "@Html.DisplayFor(model => model.nombres)" ?</h4>
        <input />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <button id="payment-button" type="Delete" class="btn btn-lg btn-info btn-block">
                    <i class="fa fa-trash fa-lg"></i>&nbsp;
                    <span id="payment-button-amount">Eliminar</span>
                    <span id="payment-button-sending" style="display:none;">Delete…</span>
                </button>
            </div>

        }

    </div>
    <!------------      ------------>

</div>
<!------------      ------------>
